@font-face {
    font-family: "draculaBresil";
    src: url("../assets/font/Honeybee.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: "draculaBresil";
}

html {
    cursor: url('img/pinkcursor.cur'), auto;
    background: linear-gradient(#ffffff, #e291e5);
    background-size: cover;
    height: 100vh;
}

.title {
    text-align: center;
    font-size: 50px;
    color: blue;
}

.form {
    text-align: center;
}

input {
    background: white;
    margin: 10px;
    border: 1px solid black;
    box-shadow: black 3px 5px;
    border-radius: 10px;
    padding: 10px;
}
input:hover {
    box-shadow: black 8px 10px;
}

.no_button {
    text-align: center;
    font-size: 50px;
    color: red;
    cursor: not-allowed;
    transition: transform 0.3s ease-out;
}

.no_button:hover {
    background-color: rgba(255, 0, 0, 0.2);
}

.yes_button {
    text-align: center;
    font-size: 50px;
    color: green;
}
.yes_button:hover {
    cursor: url('img/purplecursor.cur'), auto;
    background-color: rgba(0, 255, 0, 0.2);
}

.changing_gif {
    display: flex;
    justify-content: center;
}

.question {
    height: 200px;
}

.yippee {
    display: none;
    margin-top: 80px;
    width: 500px;
    height: 500px;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
body {
    cursor: url('img/pinkcursor.cur'), auto;
}
.arrow {
    /* display:none; */
    width: 20 px;
    position: absolute;
    animation-name: animation;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes animation {
    0% {right: 0px;}
    50% {right: 500px;}
    100% {right: 0px;}
}